<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login to Admin Panel</title>
        <script
            src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        {% if error %}
        <div
            class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
            role="alert">
            <span class="font-medium">Error or something!</span> {{ error }}
        </div>
        {% endif %}
        
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form action="/admin" method="POST" class="space-y-6">
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password"
                            class="block text-sm/6 font-medium text-gray-900">Password</label>
                    </div>
                    <div class="mt-2">
                        <input id="password" type="password" name="password"
                            required autocomplete="current-password"
                            class="block w-full rounded-md bg-black/5 px-3 py-1.5 text-base text-gray-900 outline-5 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign
                        in</button>
                </div>
                <div>
                    <p class="italic flex w-full justify-center text-sm">hint: find it</p>
                </div>
            </form>
        </body>
    </html>