<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login to Admin Panel</title>
        <script
            src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <div
            class="w-full min-h-screen justify-center items-center flex flex-col px-5">

            {% if error %}
            <div
                class="mb-8 border-[3px] border-[#ff5e5e] p-4 font-bold text-[#ff5e5e] shadow-[6px_6px_0px_#ff5e5e]">
                {{ error }}
            </div>
            {% endif %}

            <div class="items-center">
                <h1 class="text-5xl md:text-7xl font-extrabold tracking-[-0.05em] hover:text-[#ee7e0f]"">
                    admin.
                </h1>

                <p class="text-lg text-gray-500 text-center mb-16 mt-2">
                    enter the sacred password
                </p>
            </div>

            <form action="/admin" method="post" class="space-y-6">

                <div>
                    <label for="password"
                        class="block mb-2 font-bold">password<span class="text-[#ff5e5e]">*</span></label>

                    <input type="password" id="password" name="password"
                        required autocomplete="current-password"
                        placeholder="**********"
                        class="w-full bg-[#faf9f6] border-[3px] border-[#1a1a1a] px-4 py-4 shadow-[6px_6px_0px_#1a1a1a] focus:outline-none focus:border-[#ee7e0f] focus:shadow-[8px_8px_0px_#ee7e0f] transition-all duration-200">
                </div>

                <button type="submit"
                    class="w-full bg-[#faf9f6] border-[3px] border-[#1a1a1a] px-8 py-4 text-xl font-bold shadow-[6px_6px_0px_#1a1a1a] transition-all duration-200 hover:-translate-x-0.5 hover:-translate-y-0.5 hover:border-[#ee7e0f] hover:text-[#ee7e0f] hover:shadow-[8px_8px_0px_#ee7e0f] active:translate-x-1 active:translate-y-1 active:shadow-[2px_2px_0px_#1a1a1a]">
                    sign in
                </button>

                <p class="text-center italic text-gray-500">
                    hint: find it. (.env)
                </p>
            </form>
        </div>
    </body>
</html>